<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/taskmanager.css">
    <title>Detail</title>
</head>
<div th:include="header.html"></div>
<body>
<h1 th:text="#{detail}"></h1>
<div th:if="${task != null}">
<table>


    <tr>
        <th th:text="#{title}"></th>
        <td th:text="${task.title}"></td>


    </tr>
    <tr>
        <th th:text="#{description}"></th>
        <td th:text="${task.description}"></td>
    </tr>
<tr>

    <th th:text="#{duedate}">  </th>
    <td th:text="${task.tijdstip}"></td>

</tr>
</table>
</div>
<div th:if="${task == null}">
    <h2>Task not found</h2>
</div>
<a th:href="@{/tasks/{id}/sub/create(id=${task.id})}" th:text="#{addsubtask}"></a>
<h2 th:text="#{subtasks}" >Subtasks</h2>
<table>
<tr th:each="subTask:${subTasks}">
    <td th:text="${subTask.title}"></td>
    <td th:text="${subTask.description}"></td>

</tr>
</table>

</body>
</html>
