<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/taskmanager.css">
    <title>new task</title>
</head>
<body>
<div th:include="header.html"></div>
<form method="post" th:object="${taskDTO}" th:action="@{/tasks}" action="#">

    <h4 th:text="#{addtask}"></h4>
    <div>
        <label for="title" th:text="#{title}"> </label>
        <p th:errors="*{title}"></p>
        <input th:field="*{title}" type="text" name="title" id="title">
    </div>
    <div>
        <label for="description" th:text="#{description}"> </label>
        <p th:errors="*{description}"></p>
        <input th:field="*{description}" type="text" name="description" id="description">
    </div>
    <div>
        <label for="date" th:text="#{duedate}"> </label>
        <p th:errors="*{date}"></p>
        <input th:field="*{date}" type="date" name="date" id="date" >
    </div>
    <div>
        <label for="time" th:text="#{duetime}"> </label>
        <p th:errors="*{time}"></p>
        <input th:field="*{time}" type="time" name="time" id="time" >
    </div>
    <input type="submit"  value="Submit">
</form>


</body>
</html>
